body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    background-color: white;

}

.container {
    width:75%;
    margin:auto;
    overflow: hidden;
}

header {
    background: rgb(66, 84, 116);    
    color: rgb(255, 255, 255);  
    padding-top: 30px;
    min-height: 70px ;  
    border-bottom: rgb(202, 112, 154) 3px solid;         
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
} 

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color:rgb(228, 2, 89);
    font-weight: bold;
}

header a:hover 
{
    color: gainsboro;
    font-weight: bold;
    border-bottom: rgb(228, 2, 89) 3px solid;

}

#showcase {
    min-height: 400px;
    background: url(./showcase.jpg) 0 -40px  ;
    text-align: center;
    color: white;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#signup {
    padding: 15px;
    color: white;
    background: rgb(65, 76, 95) ;
}

#signup a{
    padding-bottom: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

#signup a:hover {
    color: gainsboro;
    font-weight: bold;
}

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width:30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img {
    width: 90px;

}

footer {
    padding: 20px;
    margin-top: 20px;
    color: white ;
    text-align: center;
    background-color: rgb(202, 112, 154);
}

#nav_p{
    background: rgb(202, 112, 154);    
    color: rgb(255, 255, 255);  
    padding: 5px;
    min-height: 10px ;
    text-align: center;
}

#nav_p a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;

}

#nav_p ol {
    margin: 0;
    padding: 0;
}

#nav_p li {
    float: center;
    display: inline;
    padding: 0 20px 0 20px;
}
#nav_p a:hover {
    color: gainsboro;
    font-weight: bold;
}

.page-title {
    color: rgb(70, 65, 95);
    font-style: italic;
    font-size: 1.4em;
}

.page-subt {
    font-size: 1.3em;
    color: rgb(136, 44, 105);
    font-style: italic;
}

.table-content1{
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 85%;
    height: 85%; 
    margin-left: auto;
    margin-right: auto;
}

.table-content1 td{
    border: 1px solid;
    text-align: left;
    padding: 8px;
}
.table-content1 th {
    border: 1px solid;
    border-color: black;
    text-align: left;
    padding: 8px;
    font-style: italic;
    color:rgb(73, 70, 102)
}

.table-content1 tr:nth-child(even){
    background-color: rgb(133, 142, 165);
}